.icon, .plus{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26434343', endColorstr='#26434343',GradientType=0 );}
.events-list .text:before{background: none;}
.tab-box .tabset .popup{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09ab26b', endColorstr='#e09ab26b',GradientType=1 );}
.button:after{background: #869670;}
.button:hover:after{background: #3c84d2;}
.button-03 .button, .button-05 .button{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ab26b', endColorstr='#b1c982',GradientType=0 );}
.button-03 .button:hover, .button-05 .button:hover{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7f5', endColorstr='#17beff',GradientType=0 );}
.button-04 .button, .button-06 .button{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1c982', endColorstr='#9ab26b',GradientType=0 );}
.button-04 .button:hover, .button-06 .button:hover{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17beff', endColorstr='#00a7f5',GradientType=0 );}
.menu-box.type-03{background: #899f5f url(../images/bg-menu.png) repeat-x;}
.menu-03>li.hover>a{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#294f514b', endColorstr='#294f514b',GradientType=0 );}
.breadcrumbs{background: #f6f6f6 url(../images/bg-breadcrumbs.png) repeat-x;}
.warning{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );}
.warning.type-02:after{background: #a7aaab;}
.icons-list li a{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fb673', endColorstr='#92a966',GradientType=0 );}