<!doctype html>
<html ng-app>
<head>
	<script src="js/angular.min.js"></script>
	<script src="js/team.js"></script>
	
	<!-- <link media="all" rel="stylesheet" type="text/css" href="css/all.css" /> -->
	<link media="all" rel="stylesheet" type="text/css" href="css/team.css" />
</head>
<body>
	<div ng-controller="TeamCtrl">
		
		<div class="timeBox" ng-repeat="timebox in timeBoxes">
			<div class="teamList">
				<h3>Remplaçent(s)</h3>
				<div class="present" ng-repeat="subs in timebox.substitutes">
					<a href="#" class="nop">{{subs.nom}}</a>
					<select ng-model="noPlace" ng-options="p for p in placesNo">
						<option value="">place</option>
					</select>
					<button ng-click="timebox.jouer(subs, noPlace)" >ok</button>
				</div>
			</div>

			<div class="playground" class="wrapper" >
				<div class="row" ng-repeat="r in timebox.playground.places">
					<div class="fieldPlay player" ng-repeat="place in r" >
						<div ng-show="place.player">
							<a href="#" class="nop">{{place.player.nom}}</a>
							<select name="noPlace" ng-model="noPlace" ng-options="p for p in placesNo">
								<option value="undefined">place</option>
							</select>
							<button ng-click="timebox.playground.echanger(place.player, noPlace)" >ok</button>
							<button ng-click="timebox.reposer(place.player)" >sortir</button>
						</div>
						<div ng-hide="place.player">
							{{place.no}}.
						</div>
					</div>
				</div>
			</div>
			
			<div class="commande">
				<button ng-click="newTimeBox(timebox)">Nouvelle période</button>
				<button ng-click="deleteTimeBox(timebox)">Supprimer la période</button>
				<div>
					<span class="startTime">{{$index * timebox.duration}}</span> - 
					<span class="endTime">{{($index+1) * timebox.duration}}</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		
		
		<div id="timeResume">
			<h3>récap des temps de jeu</h3>
			<div class="player" ng-repeat="player in players" >
				{{player.nom}} - {{player.duration}}
			</div>
		</div>
	</div>
</body>
</html>