<!doctype html>
<html ng-app>
<head>
	<script src="js/angular.min.js"></script>
	<script src="js/team.js"></script>
	
	<!-- <link media="all" rel="stylesheet" type="text/css" href="css/all.css" /> -->
	<link media="all" rel="stylesheet" type="text/css" href="css/team.css" />
</head>
<body>
	<div ng-controller="TeamCtrl">
		
		<div class="timeBox" ng-repeat="timebox in timeBoxes">
			<div class="teamList">
				<h3>Remplaçent(s)</h3>
				<div class="present" ng-repeat="subs in timebox.substitutes">
					<a href="#" class="nop">{{subs.nom}}</a>
					<select ng-model="noPlace" ng-options="p for p in placesNo">
						<option value="">place</option>
					</select>
					<button ng-click="timebox.jouer(subs, noPlace-1)" >ok</button>
				</div>
			</div>

			<div class="playground" class="wrapper" >
				<div class="player" ng-repeat="player in timebox.playground.places" >
					<div ng-show="player.nom">
						<a href="#" class="nop">{{player.nom}}</a>
						<select name="noPlace" ng-model="noPlace" ng-options="p for p in placesNo">
							<option value="undefined">place</option>
						</select>
						<button ng-click="timebox.playground.echanger(player, noPlace-1)" >ok</button>
						<button ng-click="timebox.reposer(player)" >sortir</button>
					</div>
					<div ng-hide="player.nom">
						{{$index + 1}}.
					</div>
				</div>
			</div>
			
			<div class="commande">
				<button ng-click="newTimeBox(timebox)">Nouvelle période</button>
				<button ng-click="deleteTimeBox(timebox)">Supprimer la période</button>
				<div>
					<span class="startTime">{{$index * timebox.duration}}</span> - 
					<span class="endTime">{{($index+1) * timebox.duration}}</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		
		
		<div id="timeResume">
			<h3>récap des temps de jeu</h3>
			<div class="player" ng-repeat="player in players" >
				{{player.nom}} - {{player.duration}}
			</div>
		</div>
	</div>
</body>
</html>