<div ng-controller="TeamCtrl">
	<div class="timeBox" ng-repeat="timebox in timeBoxes">
		<div class="teamList" ng-model='timebox.substitutes' data-drop="true" jqyoui-droppable="{onDrop:'updatePlayersDuration', multiple:true}" >
			<h3>Remplaçant(s)</h3>
			<div class="present" ng-repeat="subs in timebox.substitutes" ng-model="timebox.substitutes" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}}" >
				<a href="#" class="nop" ng-show="subs">{{subs.name}}</a>
			</div>
		</div>

		<div class="playground" class="wrapper" >
			<div class="row" ng-repeat="r in timebox.places">
				<div class="fieldPlay player" ng-repeat="place in r" data-drop="true" jqyoui-droppable="{index:{{$index}}, onDrop:'updatePlayersDuration'}"
											ng-model="place.player"	 data-drag="true" jqyoui-draggable data-jqyoui-options="{revert: 'invalid'}" >
					<div ng-show="place.player && place.player.name">
						<a href="#" class="nop">{{place.player.name}}</a>
					</div>
					<div ng-hide="place.player && place.player.name" class="empty">
						{{place.no}}.
					</div>
				</div>
			</div>
		</div>
		
		<div class="commande">
			<button ng-click="newTimeBox(timebox)" class="button btn-new" title="Dupliquer période"></button>
			<button ng-click="deleteTimeBox(timebox)" class="button btn-cancel" title="Supprimer la période" ng-hide="$index == 0"></button>
			<div>
				<span class="startTime">{{$index * timebox.duration}}</span> - 
				<span class="endTime">{{($index+1) * timebox.duration}}</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	
	
	<div id="timeResume">
		<h3>Temps de jeu</h3>
		<div class="player" ng-repeat="player in players | orderBy:'duration':true" >
			{{player.name}} - {{player.duration}}
		</div>
	</div>
</div>