    <img src="/images/terrain.png" class="main" />
	<div class="row" ng-repeat="row in timebox.playgroundField track by $index">
        <div class="fieldPlay" ng-repeat="place in row track by $index" ng-model="place.player"
             data-drop="true" data-drag="true"
             jqyoui-droppable="{index:{{$index}}, onDrop:'updatePlayersDuration'}"
             jqyoui-draggable="{onStart:'checkAndAddDragClass', onStop:'removeDragClass'}"
             data-jqyoui-options="{revert: 'invalid',opacity: 0.80,hoverClass: 'drop-hover',handle:'div.fieldPlay'}" >
				<img src="/images/jersey_white.png" class="tshirt" />
				<div class="playerNumber" ng-show="place.player && place.player.name">{{place.no}}</div>
				<div class="playerName" ng-show="place.player && place.player.name">
					<span>{{place.player.name}}</span>
					<img src="images/sub_off.png" title="Sort" ng-if="place.nextSubstitute == true" />
				</div>
        </div>
    </div>
